@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.topnav {
  background-color: #097969;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: Helvetica;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav a.cart {
  margin-left: 800px;
}

.topnav a.user {
  margin-left : 10px;
}

.nav2{
  background-color: white;
  overflow: hidden;
}

.nav2 p{
  float: left;
  color: #808080;
  text-align: center;
  padding: 17px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav3{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  background-color: white;
  overflow: hidden;
}


.button1 {
  width: 60px;
  height: 40px;
  margin-left: 800px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  border-radius: 20px;
}

.button1p{
  font-size: 10px;
  color : #097969;
}

.button2 {
  width: 100px;
  height: 40px;
  margin-left: 40px;
  background: #097969;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid green;
  border-radius: 20px;
}

.button2p{
  font-size: 10px;
  color : white;
}

.orderId{
  font-weight: 600;
  font-size: 31px;
  color: black;
  margin-left: 50px;
}

.nav4{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border : 1px solid black;
}


.nav4div1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 129px;
  margin-top: 4px;
  padding-right: 50px;
  padding-left: 75px;
  border-right : 1px solid black;
}

.nav4div2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 129px;
  margin-top: 6px;
  padding-right: 50px;
  padding-left: 75px;
border-right : 1px solid black;
}

.nav4div3{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 129px;
  margin-top: 6px;
  padding-right: 50px;
  padding-left: 75px;
 border-right : 1px solid black;
}

.nav4div4{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 129px;
  margin-top: 6px;
  padding-right: 50px;
  padding-left: 75px;
  border-right : 1px solid black;
}

.nav4div5{
  display: flex;
  justify-content: center;
  align-items: center;
   height: 129px;
  margin-top: 6px;
  padding-right: 50px;
  padding-left: 75px;
  border-right: 1px solid black; 
}

.nav4div6{
  display: flex;
  justify-content: center;
  align-items: center;
   height: 129px;
  margin-top: 6px;
  padding-right: 50px;
  padding-left: 75px;
  border-right: 50px; 
}

.nav4div1Child{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height : 50px;
}

.nav4div2Child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
height : 50px;
}

.nav4div3Child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 height: 50px;
}

.nav4div4Child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height : 50px;
}

.nav4div5Child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height : 50px;
}

.nav4div6Child{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height : 50px;
}
.subHeading1{
  font-weight: 200;
}

.subHeading2{
  font-weight: 800;
}
